.sider {
  /* border-right: 1px solid #EAECEE; */
  max-height: 100vh;
}
.sider :global(.ant-layout-sider-children) {
  display: flex;
  flex-direction: column;
}
.title {
  height: 64px;
  padding: 24px 10px 12px 12px;
  font-family: Gilroy, Gilroy;
  font-weight: 800;
  font-size: 16px;
  color: #212332;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  display: flex;
  /* border-bottom: 1px solid #EAECEE; */
  justify-content: space-between;
  gap: 12px;
}
.title.collapsed {
  padding: 18px;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.sider :global(.ant-menu .ant-menu-item-group-title) {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
  font-weight: 500;
}
.sider :global(.ant-menu .ant-menu-item-divider) {
  margin: 20px 20px 10px 20px;
}