.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px 16px 20px;
  color: #212332;
  z-index: 0;
  font-size: 14px;
}
.title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  font-style: normal;
}
.breadcrumbTitle {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
.header :global(.ant-breadcrumb) {
  line-height: 31px;
}
.header :global(.ant-breadcrumb .ant-breadcrumb-item a) {
  height: inherit;
  color: #5B6167;
  font-weight: normal;
}
.header :global(.ant-breadcrumb .ant-breadcrumb-separator:nth-last-child(2)),
.header :global(.ant-breadcrumb .ant-breadcrumb-item:last-child a) {
  color: #212332;
  font-weight: 600;
}
.userDropdown:global(.ant-dropdown .ant-dropdown-menu),
.userDropdown:global(.ant-dropdown-menu-submenu .ant-dropdown-menu) {
  padding: 12px 8px;
}
.userDropdown:global(.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item),
.userDropdown:global(.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item),
.userDropdown:global(.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title),
.userDropdown:global(.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title) {
  padding-left: 8px;
  padding-right: 4px;
}
.userDropdown:global(.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-danger:not(.ant-dropdown-menu-item-disabled):hover),
.userDropdown:global(.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-danger:not(.ant-dropdown-menu-item-disabled):hover) {
  background-color: #F6F6F6;
  color: #FF5D34;
}
.userDropdown:global(.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-divider),
.userDropdown:global(.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-divider),
.userDropdown:global(.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-divider),
.userDropdown:global(.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-divider) {
  margin: 10px 8px;
}